<!DOCTYPE html>
<html lang="en" thyme:xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <th:block th:fragment="table-header">
        <div class="d-flex justify-content-between align-items-center py-2">
            <div><a th:href="@{/}" class="btn btn-success">Best of</a></div>

            <div class="d-flex justify-content-center align-items-center gap-2">
                <a th:href="@{/songs}" class="btn btn-primary">Songs</a>
                <a th:href="@{/movies}" class="btn btn-primary">Movies</a>
            </div>
        </div>
    </th:block>
</body>

</html>