<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">

    <title>Document</title>

</head>

<body>
    <div class="container">
        <table class="table">

            <th:block th:replace="fragments :: table-header"></th:block>

            <tbody class="text-center">
                <tr>
                    <td>
                        Best of year by <b><span th:text="${person}"></b></span>
                        <div class="d-flex flex-column">
                            <img src="https://cdn.pixabay.com/photo/2024/10/10/09/22/new-year-9110412_1280.png"
                                alt="2025" class="img-fluid">
                            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, quod voluptatibus
                                voluptates reiciendis, voluptatum cumque natus officiis quibusdam excepturi tempore eius
                                voluptate nihil provident! Sequi dolores autem cupiditate blanditiis eum illo ab cum,
                                tempora debitis, laborum ad qui velit inventore suscipit nobis consectetur voluptate
                                commodi. Earum nemo delectus minima, architecto velit qui possimus minus? Ullam
                                molestias saepe in, sapiente fuga ratione veritatis eum, nobis blanditiis molestiae cum!
                                Iusto harum soluta culpa dolor voluptatum aspernatur. Aliquid corporis eum vel eos
                                laudantium consectetur doloremque? Explicabo consectetur alias architecto quia dolorum
                                accusantium atque obcaecati dicta molestias velit tempore similique error eligendi
                                voluptates officia nemo perferendis perspiciatis sequi, deleniti corporis voluptatem.
                                Vero officia reiciendis maiores impedit sed? Fugit illum ipsum sit, quaerat repudiandae
                                esse. Asperiores commodi ipsum, quas facilis ex dolorem? Molestiae animi, vero minus
                                excepturi corrupti adipisci velit vitae sint et? Et nobis, veritatis optio illo dolor
                                soluta rerum dolorum nisi, praesentium, reiciendis voluptatem. Earum, nemo! Rem
                                consequuntur excepturi cum ab quisquam itaque minima? Voluptatem deleniti suscipit omnis
                                animi quae! Numquam quia quod neque, quaerat obcaecati doloremque deserunt accusamus
                                quas ab facere cum incidunt ratione, veniam iure sapiente expedita a modi officiis sequi
                                nihil nam! Pariatur molestiae suscipit laborum accusamus, enim atque odio.
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</body>

</html>